.surface {
    width: 100%;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: var(--shd-tiny), var(--shd-soft);
    overflow: hidden;
}

.surface.padded {
    padding: 20px;
}

.surface.unpadded {
    padding: 0;
}
