.rarityLabel.common {
    color: rgb(256, 256, 256);
}

.rarityLabel.uncommon {
    color: rgb(128, 255, 0);
}

.rarityLabel.rare {
    color: rgb(0, 192, 255);
}

.rarityLabel.epic {
    color: rgb(255, 192, 0);
}
