.app {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    gap: 20px;
    padding: 20px;
}

.app .grid {
    display: grid;
    gap: 20px;
}

.app .flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
